{% extends 'blog/base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
        $('.slider').bxSlider({
            mode: 'fade',
            auto: true,
            speed: 1000,
            pause: 5000,
            pager: true,
            captions: true,
            slideWidth: 960
        });
        });
    </script>

    <div id="visual_wrap">
    <div id="visual">
        <div class="bx-wrapper">
            <div class="bx-viewport">
            <ul class="slider" style="position: relative; text-align: center">
                <li><img width="960" height="640" src="/static/Boston.jpg" title="Boston"></li>
                <li><img width="960" height="640" src="/static/NewYork.jpg" title="New York"></li>
                <li><img width="960" height="640" src="/static/LA.jpg" title="Los Angeles"></li>
            </ul>
            </div>
        </div>
    </div>
    </div>



{% endblock %}
